@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #007bff;
    --secondary-color:#131D39;
}
body {
    overflow-x: hidden;
}
/*NAVBAR*/
.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;

    color: var(--primary-color) !important;
  
}
a{
    text-decoration: none !important;
}
/*NAVBAR*/
/*SECTION_1 */
.sec1 {
    min-height:100vh;
    background-color: var(--secondary-color);
}
.sec1 span{
  
    color: var(--primary-color) !important;
}
.sec1 .carousel-inner img {
    width:500px;
}


.sec1 .btn-Explore a span{
    background-color:#0088FF;
     width: 30px; 
     height: 30px;
 }
 .sec1 .btn-Explore a:hover{
    background-color:white !important;
    color:  var(--secondary-color) !important;
 }
 .sec1 .btn-Explore a:hover span {
    background-color: #beccd9 !important; 
 }
 .sec1 .btn-Explore a:hover i {
   color:  var(--secondary-color) !important; 
 }
/*SECTION_1 */

/*SECTION_2*/
.sec2{
    margin-top:95px;
     padding-right: 100px;
}

.sec2 img{
    width:70%;
    height:70%;
    object-fit: contain;
    
}
.sec2 a:hover{
    background-color: var(--secondary-color) !important;
    color: white !important;
}
/*SECTION_2*/

/*SECTION_3*/
.sec3{
    margin-top:95px;
    min-height: 100vh;
    margin-bottom:110px !important;
}
.sec3 .btn-Explore a{
    text-decoration: none !important;
    background-color:white !important;
    color: var(--primary-color) !important;
}

.sec3 .btn-Explore a span{
    background-color:#bee3f8;
     width: 30px; 
     height: 30px;
 }
 .sec3 .btn-Explore a:hover{
    background-color: var(--secondary-color) !important;
    color: white !important;
 }
 .sec3 .btn-Explore a:hover span {
    background-color: #012647 !important; 
 }
 .sec3 .btn-Explore a:hover i {
   color: white !important; 
 }
 

 .sec3 .btn-Smart a{
    text-decoration: none;
   
}


.sec3 .btn-Smart a span{
    background-color:#0088FF;
     width: 30px; 
     height: 30px;
 }
 .sec3 .btn-Smart a:hover{
    background-color:white !important;
    color: var(--secondary-color) !important;
 }
 .sec3 .btn-Smart a:hover span {
    background-color: #E9ECEF !important; 
 }
 .sec3 .btn-Smart a:hover i {
   color:var(--secondary-color) !important; 
 }
/*SECTION_3*/

/*SECTION_4*/
.sec4{
   margin-top:110px ;
 min-height:100vh;
  margin-bottom:100px !important;
}
.btnAddCart {
    display: none !important; 
}

 .sec4 .card:hover .btnAddCart  {
    display: flex !important;
    
}
 .btnAddCart a:hover {
    background-color: var(--secondary-color) !important;
    color: white !important; 
    cursor: pointer !important; 
 }
  .btnAddCart a:hover span i {
   color: white !important; 

 }
 .sec4  .card:hover .card-title{
   color: var(--primary-color) !important;;
 }
.btnShop span{
    background-color:#0088FF;
    width: 30px; 
    height: 30px;
}
.btnShop a:hover{
    transform: translateY(-3px);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
 }


/*SECTION_4*/


/*SECTION_5*/
.sec5{
    margin-top:110px ;
    min-height:100vh;
     margin-bottom:110px !important;
     background-color: #f0f4fd;
    
}
.sec5 .spanDeal {
    background-color:var(--secondary-color);
    gap-top:500px !important;
}
.sec5 h1 span{
    color: var(--primary-color) !important;
}
.sec5 .btn-Off  a span{
    background-color:#0088FF;
     width: 30px; 
     height: 30px;
 }
 .sec5 .btn-Off  a:hover{
    background-color:var(--secondary-color) !important;
    color:white !important;
 }
 .sec5 .btn-Off  a:hover span {
    background-color:  #0b80e7dc !important; 
 }
 .sec5 .btn-Off  a:hover i {
   color: var(--secondary-color)  !important; 
 }
/*SECTION_5*/

/*SECTION_6*/
.sec6{
    margin-top:110px ;
    min-height:100vh;
    margin-bottom:80px !important;
 
}
.sec6 h4{
    font-family: "Sour Gummy", serif;
    color: var(--secondary-color)  !important; 
}
.sec6 img{
    margin-bottom:20px;
    height: 300px !important;
    object-fit: cover;
}
.sec6 .btn-News {
    border-color: var(--primary-color) !important;
}
.sec6 .btn-News a span {
    width: 30px; 
    height: 30px;
    color:var(--secondary-color) !important;
}
.sec6 .btn-News a h6{
    color: var(--secondary-color) !important;
}
.sec6 .btn-News a:hover{
    background-color:var(--secondary-color) !important;

    border-color:var(--secondary-color)  !important;
 }
 .sec6 .btn-News a:hover h6{
    
    color:  white !important;
    
 }
 .sec6 .btn-News a:hover span {
    background-color: #beccd9 !important; 
    border-color: #beccd9 !important;
 }
 .sec6 .btn-News a:hover i {
   color: white !important; 
 }


/*SECTION_6*/

/*SECTION_7*/
.sec7{
    margin-top:90px ;
     margin-bottom:70px !important;
     background-color: var(--secondary-color) !important;
    
}
.sec7 .sec7-New{
    padding: 30px;

}
.sec7 .btn-Email input{
    background-color:#012647 !important ;
    color: white;
    font-weight: 300 !important;
    border-color: var(--secondary-color) !important ;
}
.sec7 .btn-Email input::placeholder{
    
    color: white;
    font-size: 15px;

}

.sec7 .btn-Email .btn-subscribe:hover{
    background-color: white !important;
    color:var(--secondary-color) !important;
    
}
/*SECTION_8*/
.sec8{
    margin-top:110px ;
    margin-bottom:20px;
     background-color: #f0f4fd;
     color:var(--secondary-color) !important;
}
.sec8 .item:hover{
color: var(--primary-color) !important;
}
/*SECTION_8*/

